* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
:root {
	--index: calc(1vw + 1vh);
}
::-webkit-scrollbar { width: 0;}
body {
	background-image: url(/PointeShoes/img/bg.jpg);
	color: #469597;
	overflow-x: hidden;
}
a {
	color: #469597;
	text-decoration: none;
}
@font-face {
	font-family: alumni-r;
	src: url(/PointeShoes/font/AlumniSansPinstripe-Regular.ttf);
}
@font-face {
	font-family: alumni-i;
	src: url(/PointeShoes/font/AlumniSansPinstripe-Italic.ttf);
}
@font-face {
	font-family: MN-B;
	src: url(/PointeShoes/font/MontserratAlternates-Bold.ttf);
}
@font-face {
	font-family: MN-Bi;
	src: url(/PointeShoes/font/MontserratAlternates-BoldItalic.ttf)
}
@font-face {
	font-family: MN-R;
	src: url(/PointeShoes/font/MontserratAlternates-Regular.ttf);
}

/* TOP */
.hidden {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: calc(var(--index) * 3);
	color: #086b5f;
	text-decoration: none;
	z-index: 2;
}

.rectangle {
	position: absolute;
	width: 100%;
	height: calc(var(--index) * 4.5);
	filter: drop-shadow(0 0 10px black);
}

.logo {
	position: absolute;
	max-width: calc(var(--index) * 6);
	top: -1.2vw;
	transition: .5s ease-in-out;
}
.logo:hover {
	scale: 1.1;
}
.main_title_1 {
	text-decoration: none;
	color: #469597;
	position: absolute;
	font-family: MN-B;
	font-size: calc(var(--index) * 1.5);
	top: 1.5vw;
	left: 45vw;
	filter: drop-shadow(0 0 2px #469597);
	transition: .2s ease-in-out;
}
.main_title_2 {
	text-decoration: none;
	color: #469597;
	position: absolute;
	font-family: MN-B;
	font-size: calc(var(--index) * 1.5);
	top: 1.5vw;
	left: 57vw;
	filter: drop-shadow(0 0 2px #469597);
	transition: .2s ease-in-out;
}
.main_title_3 {
	text-decoration: none;
	color: #469597;
	position: absolute;
	font-family: MN-B;
	font-size: calc(var(--index) * 1.5);
	top: 1.5vw;
	left: 69vw;
	filter: drop-shadow(0 0 2px #469597);
	transition: .2s ease-in-out;
}
.main_title_4 {
	text-decoration: none;
	color: #469597;
	position: absolute;
	font-family: MN-B;
	font-size: calc(var(--index) * 1.5);
	top: 1.5vw;
	left: 78vw;
	filter: drop-shadow(0 0 2px #469597);
	transition: .2s ease-in-out;
}
.main_title_5 {
	text-decoration: none;
	color: #086b5f;
	position: absolute;
	font-family: MN-B;
	font-size: calc(var(--index) * 1.5);
	top: 1.5vw;
	left: 89.5vw;
	filter: drop-shadow(0 0 2px #469597);
	transition: .2s ease-in-out;
}
.main_title_1:hover{
	filter: drop-shadow(0 0 4px aquamarine);
	scale: 1.1;
}
.main_title_2:hover{
	filter: drop-shadow(0 0 4px aquamarine);
	scale: 1.1;
}
.main_title_3:hover{
	filter: drop-shadow(0 0 4px aquamarine);
	scale: 1.1;
}
.main_title_4:hover{
	filter: drop-shadow(0 0 4px aquamarine);
	scale: 1.1;
}
.main_title_5:hover{
	filter: drop-shadow(0 0 4px #469597);
	scale: 1.1;
}


/* CENTER */

.main_img {
	position: absolute;
	left: 10vw;
	top: 10vw;
	width: calc(var(--index) * 25);
	filter: drop-shadow(0 10px 10px aquamarine);
	border-radius: 15px;
}
.main_text {
	position: absolute;
	left: 50vw;
	top: 10vw;
	font-size: calc(var(--index) * 1.1);
	font-family: MN-R;
	white-space: nowrap;
	cursor: default;
}
.main_p {
	position: absolute;
	left: 50vw;
	top: 20vw;
	font-family: MN-Bi;
	font-size: calc(var(--index) * 2);
	cursor: default;
}
.main_p_1{
	position: absolute;
	left: 50vw;
	top: 27vw;
	font-family: MN-Bi;
	font-size: calc(var(--index) * 2);
	color: #086b5f;
}

/* GALLERY */
.moover {
	opacity: 0%;
	position: absolute;
	top: 65vw;
}


.gold_main {
	position: absolute;
	top: 70vw;
	left: 10vw;
	width: calc(var(--index) * 20);
	border-radius: 20px;
	opacity: 100%;
	transition: .2s ease-in-out;
	z-index: 1;
}
.gold_ballerine {
	position: absolute;
	top: 70vw;
	left: 10vw;
	width: calc(var(--index) * 20);
	filter: drop-shadow(0 0 10px #086b5f);
	transition: .2s ease-in-out;
	border-radius: 20px;
}
.gold_main:hover {
	opacity: 0%;
}

.gold_text {
	position: absolute;
	top: 70vw;
	left: 42vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 2);
	color: #086b5f;
	cursor: default;
}
.gold_p {
	position: absolute;
	top: 75vw;
	left: 42vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.2);
	cursor: default;
}

.white_main {
	position: absolute;
	top: 110vw;
	left: 60vw;
	width: calc(var(--index) * 20);
	border-radius: 20px;
	opacity: 100%;
	transition: .2s ease-in-out;
	z-index: 1;
}
.white_ballerine {
	position: absolute;
	top: 110vw;
	left: 60vw;
	width: calc(var(--index) * 20);
	filter: drop-shadow(0 0 10px #086b5f);
	transition: .2s ease-in-out;
	border-radius: 20px;
}
.white_main:hover {
	opacity: 0%;
}
.white_text {
	position: absolute;
	top: 110vw;
	left: 2vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 2);
	color: #086b5f;
	cursor: default;
}
.white_p {
	position: absolute;
	top: 115vw;
	left: 2vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.1);
	cursor: default;
}

.black_main {
	position: absolute;
	top: 150vw;
	left: 10vw;
	width: calc(var(--index) * 20);
	border-radius: 20px;
	opacity: 100%;
	transition: .2s ease-in-out;
	z-index: 1;
}
.black_ballerine {
	position: absolute;
	top: 150vw;
	left: 10vw;
	width: calc(var(--index) * 20);
	filter: drop-shadow(0 0 10px #086b5f);
	transition: .2s ease-in-out;
	border-radius: 20px;
}
.black_main:hover {
	opacity: 0%;
}

.black_text {
	position: absolute;
	top: 150vw;
	left: 42vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 2);
	color: #086b5f;
	cursor: default;
}
.black_p {
	position: absolute;
	top: 155vw;
	left: 42vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.1);
	cursor: default;
}

.pink_main {
	position: absolute;
	top: 190vw;
	left: 60vw;
	width: calc(var(--index) * 20);
	border-radius: 20px;
	opacity: 100%;
	transition: .2s ease-in-out;
	z-index: 1;
}
.pink_ballerine {
	position: absolute;
	top: 190vw;
	left: 60vw;
	width: calc(var(--index) * 20);
	filter: drop-shadow(0 0 10px #086b5f);
	transition: .2s ease-in-out;
	border-radius: 20px;
}
.pink_main:hover {
	opacity: 0%;
}
.pink_text {
	position: absolute;
	top: 190vw;
	left: 2vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 2);
	color: #086b5f;
	cursor: default;
}
.pink_p {
	position: absolute;
	top: 195vw;
	left: 2vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.1);
	cursor: default;
}

.btn_buy {
	position: absolute;
	top: 230vw;
	left: 38vw;
	border-radius: 20px;
	color: white;
	font-size: calc(var(--index) * 3);
	transition: .2s linear;
	background: #086b5f;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-family: alumni-i;
}
.btn_buy:hover {
	box-shadow: 0 0 0 8px #15af9d, 0 0 0 10px #086b5f;
}

/* FOOTER */
.rectangle_footer {
	background-image: url(/PointeShoes/img/topbg.jpg);
	position: absolute;
	top: 240vw;
	width: 100%;
	height: calc(var(--index) * 10);
	filter: drop-shadow(0 0  10px black);
}

.class_footer {
	position: absolute;
	top: 241vw;
	left: 2vw;
	font-family: MN-R;
}
.Arina_footer {
	position: absolute;
	left: 2vw;
	top: 243vw;
	font-family: MN-R;
	color: #086b5f;
	font-size: calc(var(--index) * 1.5);

}
.link_footer_1 {
	position: absolute;
	top: 243vw;
	left: 50vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.5);
	transition: .2s ease-in-out;
}
.link_footer_2 {
	position: absolute;
	top: 249vw;
	left: 50vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.5);
	transition: .2s ease-in-out;
}
.link_footer_3 {
	position: absolute;
	top: 243vw;
	left: 65vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.5);
	transition: .2s ease-in-out;
}
.link_footer_4 {
	position: absolute;
	top: 249vw;
	left: 65vw;
	font-family: MN-R;
	font-size: calc(var(--index) * 1.5);
	transition: .2s ease-in-out;
}

.link_footer_1:hover {
	color: #086b5f;
	scale: 1.1;
}
.link_footer_2:hover {
	color: #086b5f;
	scale: 1.1;
}
.link_footer_3:hover {
	color: #086b5f;
	scale: 1.1;
}
.link_footer_4:hover {
	color: #086b5f;
	scale: 1.1;
}